*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff6ff;
}

/* Main content */

#content-wrapper{
    height: 700px;
    margin: 5% auto;
    padding: 1em;
    background-color: #CBFFFC;
    border: 1px solid FFF6FF;
    filter: drop-shadow(4px 4px 4px #D8D8D8);
    border-radius: 1.5em;
    vertical-align: middle;
}

#content-wrapper header{
    padding: 1em;
    text-align: center;
    color: #4B4B4B;
}

#wrapper div#form{
    align-items: center;
}

div#form input{
    width: 100%;
    border: none;
    border-radius: 2em;
    outline: none;
    padding: 2%;
    margin-top: 20%;
    font-size: 100%;
}

div#form button{
    width: 100%;
    border: none;
    border-radius: 2em;
    padding: 2%;
    background-color: #69E4DD;
    transition: 0.3s ease-in;
    margin-top: 2%;
}

#wrapper img{
    width: 50%;
    margin-top: 10%;
}

#wrapper h2{
    margin-top: 2%;
    text-align: center;
}

#wrapper p{
    text-align: center;
}

@media (hover: hover){
    div#form button:hover{
        background-color: #32cec6;
    }
}

@media screen and(max-width: 576px){

    form #city-name-search{
        margin-top: 10%;
    }

    img{
        margin-top: 50%;
    }
}
