*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #DCF2F1;
}

header{
    margin: 2% 0;
    color: #0F1035;
}

/* Main content */

#content-wrapper{
    height: auto;
    margin: 10% auto;
    padding: 1em;
    background-color: #7FC7D9;
    border: 1px solid FFF6FF;
    filter: drop-shadow(4px 4px 4px #D8D8D8);
    border-radius: 1.5em;
    vertical-align: middle;
}

#content-wrapper header{
    margin: 1%;
    text-align: center;
    color: #DCF2F1;
    font-size: medium;
}

#wrapper div#form{
    align-items: center;
}

#wrapper{
    height: auto;
}

#wrapper img{
    width: 50%;
    margin: 5% auto 0 auto  ;
}

#wrapper h2{
    margin-top: 2%;
    text-align: center;
    color: #DCF2F1;
}

#wrapper p{
    text-align: center;
    color: #DCF2F1;
}

div#form input{
    width: 100%;
    border: none;
    border-radius: 2em;
    outline: none;
    padding: 2% 4%;
    margin-top: 20%;
    font-size: 100%;
}

div#form button{
    width: 100%;
    border: none;
    border-radius: 2em;
    padding: 2%;
    background-color: #365486;
    transition: 0.3s ease-in;
    margin-top: 2%;
    color: #DCF2F1;
}

@media (hover: hover){
    div#form button:hover{
        background-color: #466cad;
    }
}

@media screen and(max-width: 576px){

    form #city-name-search{
        margin-top: 10%;
    }

    img{
        margin-top: 50%;
    }
}
